<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.breakRuleMapper">

    <select id="queryByCarNumber" resultType="com.example.demo.entity.breakRule">
        select * from break_rule where car_number=#{carNumber}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.example.demo.entity.breakRule">
        insert into break_rule(car_number,information,penalty)
        values (#{carNumber},#{information},#{penalty})
    </insert>
    <update id="update"  parameterType="com.example.demo.entity.breakRule">
        update break_rule
        <set>
            <if test="carNumber!=null">car_number=#{carNumber}</if>
            <if test="information!=null">information=#{information}</if>
            <if test="penalty!=null">penalty=#{penalty}</if>
            <if test="pay!=null">pay=#{pay}</if>
        </set>
        where id=#{id}
    </update>

</mapper>