<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.userMapper">
    <select id="queryAll" resultType="com.example.demo.entity.user">
        select * from user
    </select>
    <select id="queryUserByAccount" resultType="com.example.demo.entity.user">
        select * from user where account=#{account}
    </select>
    <insert id="insertUser" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id"
            parameterType="com.example.demo.entity.user">
        insert into user(account,password) values (#{account},#{password})
    </insert>
    <update id="updateUser"  parameterType="com.example.demo.entity.user">
        update user
        <set>
            <if test="account!=null">account=#{account},</if>
            <if test="password!=null">password=#{password}</if>
        </set>
        where account=#{account}
    </update>
    <delete id="deleteUser">
        delete from user where id=#{id}
    </delete>

</mapper>